<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

<form action="register" method="post">
		<label>Enter the User name : </label> 
		<input type="text" name="username" id="username" placeholder="Username"> 
		<br> <br> 
		
		<label >Enter the Email : </label> 
		<input type="email" name="email" id="email" placeholder="EmailID"> 
		<br> <br>
		
		<label>Enter the Password : </label> 
		<input type="password" name="password" id="password" placeholder="password"> 
		<br> <br> 	

		<label>Gender : </label> 
		<input type="radio" name="gender" value="male"> Male
		<input type="radio" name="gender" value="female"> Female
		<input type="radio" name="gender" value="other"> Other
		<br> <br> 
		
		<label >Enter the Address : </label> 
		<textarea name="address" id="address" placeholder="address"> </textarea>
		<br> <br>  
		
		<label>Role : </label> 
		<input type="radio" name="role" value="admin"> Admin
		<input type="radio" name="role" value="customer"> Customer
		<br> <br>
				
		<button type="submit">Register</button>
	</form>

</body>
</html>